<div class="card">
    <div class="table-title">
        <h1>{{brand.device}}</h1>
        <span class="back-span"><a href="/search" class="button small">Back</a></span>
    </div>
        
    <table class="table table-bordered success">
        <thead>
            <tr>
                <th>Image</th>
                <td><img src="{{brand.image}}" alt="{{brand.device}}"></td>
            </tr>
            <tr>
                <th>Device</th>
                <td>{{brand.device}}</td>
            </tr>
            <tr>
                <th class="info">Technology</th>
                <td>{{brand.Technology}}</td>
            </tr>
            <tr>
                <th class="info">Speed</th>
                <td>{{brand.Speed}}</td>
            </tr>
            <tr>
                <th class="info">Announced</th>
                <td>{{brand.Announced}}</td>
            </tr>
            <tr>
                <th class="info">Weight:</th>
                <td>{{brand.Weight}}</td>
            </tr>
            <tr>
                <th class="info">OS</th>
                <td>{{brand.OS}}</td>
            </tr>
            <tr>
                <th class="info">Processor</th>
                <td>{{brand.Chipset}}</td>
            </tr>
            <tr>
                <th class="info" valign="top">Memory</th>
                <td>{{brand.Internal}}</td>
            </tr>
            <tr>
                <th class="info">Display Size</th>
                <td>{{brand.Size}}</td>
            </tr>
            <tr>
                <th class="info">Display Type</th>
                <td>{{brand.Type}}</td>
            </tr>
            <tr>
                <th class="info">Buy</th>
                <td>
                    <a href="https://www.amazon.com/s?k={{brand.device}}&ref=is_s" class="buy">Buy</a>
                </td>
            </tr>
            <tr>
                <th class="info video">Device video</th>
                <td>
                    <iframe width="620" height="350" src="https://www.youtube.com/embed?listType=search&list={{brand.device}}">
                    </iframe>
                </td>
            </tr>
            <tr>
                <th class="info">Ratings</th>
                <td>
                    <ul class="list-inline rating-list">
                        <li><i class="fa fa-star gray" id="star1"></i></li>
                        <li><i class="fa fa-star gray" id="star2"></i></li>
                        <li><i class="fa fa-star gray" id="star3"></i></li>
                        <li><i class="fa fa-star gray" id="star4"></i></li>
                        <li><i class="fa fa-star gray" id="star5"></i></li>
                    </ul>
                    <script src="../../public/js/stars.js"></script>
                    <P>Help other users! Double click on a star to rate</P>
                    <p>{{rating}}/5 stars</p>
                </td>
            </tr>
        </thead>
    </table>
    <br>
</div>

<div class="reviews">
    <a class="reviewbtn" href="../reviews">Reviews</a>

    <div class="new-post">
        <button class="primary default" onclick="newComment('{{brand._id}}')">New</button>
    </div>

    <hr>
        <div id="postParent">
            {{#each posts}}
                <div class="post">
                    <div>
                        <h2 style="display: inline-block;"> {{this.device_name}} </h2>
                    </div>
                    <p>{{this.comment}}</p>
                    <hr>
                </div>
            {{else}}
                <div class="post">
                    <h2>Currently no comments</h2>
                </div>
            {{/each}}
        </div>
</div>
